@charset "UTF-8";
// Mixin

// ellipsis
@mixin ellipsis($line:null, $height:auto, $lineHeight:inherit) {
	@if ($line == null) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	} @else {
		display:-webkit-box;
		overflow:hidden;
		max-height:$height;
        min-height:$height;
		text-overflow:ellipsis;
		line-height:$lineHeight;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:$line;
	}
}