@charset "UTF-8";
@import 'base';
@import 'variable';
@import 'mixin';
// common
body {background-color:#ffffee}
.wrap {
    max-width:1024px;
    margin:0 auto;
    color:$black;
    font-family:$fontFamily;
    font-size:16px;
    line-height:1.5;
    text-align:center;
    overflow:hidden;
}
.title {
    margin-bottom:20px;
    font-size:24px;
    font-weight:500;
}
// header
.header {
    padding:30px 0;
    h1 {
        font-size:36px;
        font-weight:bold;
        text-align:center;
    }
}
// home
.link {
    &--button {
        >a {
            display:inline-block;
            padding:10px;
            border:1px solid $gray;
            border-radius:5px;
            background-color:$gray;
        }
        color:$purple;
        &:hover {
            text-decoration:underline;
        }
    }
}
.current {
    margin-bottom:30px;
    > span {display:block}
}
// footer
.footer {
    &__wrap {padding:10px 0}
}